<div class="header bg-dark">
  <div class="row">
    <div class="brand my-1">
      <h1>eStore</h1>
    </div>

    <div class="p-0 my-4 w-50 h-25 bg-white">
      @if (navigationSearch){
      <ng-container>
        <select #categoryOptions class="dropdown p-0 m-0" name="dropdown">
          @for (category of categoriesStoreItem.topLevelCategories$ | async ;
          track category.id) {
          <option value="{{ category.id }}">{{ category.category }}</option>
          }
        </select>
        <input
          #keyword
          class="form-control search-box"
          placeholder="Search.."
          name="search-box"
        />
        <button
          (click)="onClickSearch(keyword.value, categoryOptions.value)"
          class="search-button"
        >
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
      </ng-container>
      }
    </div>

    @if(!isUserAuthenticated){
    <div class="login-container p-0">
      <fa-icon class="user-icon" [icon]="faUserCircle"></fa-icon>
      <h5><a routerLink="/home/login">Sign in / Register</a></h5>
    </div>
    } @if(isUserAuthenticated){
    <div class="user-container">
      <div class="dropdown user-dropdown">
        <button
          class="btn btn-secondary dropdown-toggle user-dropdown-button button-user"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <fa-icon class="user-icon" [icon]="faUserCircle"></fa-icon>
          {{ userName }}
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="pastOrders()">Previous Orders</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
    }
    <div class="cart-wishlist p-0 list-item">
      <button
        type="button"
        class="btn btn-dark position-relative"
        (click)="navigateToCart()"
      >
        <fa-icon [icon]="faShoppingCart"></fa-icon>
        <ng-container>
          @if(cartService.cart$ | async) {
          <span
            ngIf="cartService.cart.totalProducts > 0"
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark"
          >
            {{ cartService.cart.totalProducts }}
          </span>
          }
        </ng-container>
      </button>
    </div>
  </div>
</div>
